.homepage {
  .header {
    margin: 0;
  }

  &__max {
    max-width: 860px;
    margin: 0 auto;
  }

  &__slice {
    padding: 48px 16px;
    background: #f2f2f2;
    color: hsl(0, 0%, 35%);
  }

  &__tube {
    padding: 16px;
    background-image: url('/assets/tube-alert/banner.svg');
    background-size: cover;
    background-position: 50% 50%;
  }
  &__tube-inner {
    position: relative;
    max-width: 860px;
    margin: 0 auto;
    min-height: 200px;
  }
  &__tube-box {
    position: absolute;
    bottom: 0;
    right: 0;
    background: hsla(0, 0%, 13%, 0.9);
    color: #fff;
    text-decoration: none;
    padding: 16px;
  }

  &__cargo {
    padding: 16px;
    background-color: hsl(208, 52%, 56%);
    background-image: url('/assets/cargo.svg');
    background-size: cover;
  }
  &__cargo-inner {
    position: relative;
    max-width: 860px;
    margin: 0 auto;
    min-height: 200px;
  }
  &__cargo-box {
    position: absolute;
    bottom: 0;
    left: 0;
    background: hsla(0, 0%, 13%, 0.9);
    color: #fff;
    text-decoration: none;
    padding: 16px;
  }

  &__more {
    padding: 48px 16px;
  }

  &__more-contents {
    max-width: 860px;
  }

  @media (min-width: 50em) {
    &__cargo-box,
    &__tube-box {
      max-width: 60%;
    }
  }
}
