// Colours
$color-grey-darkest: #222;

$color-body-bg: #2c2c2c;
$color-body-text: #fff;
$color-body-link: #ffd42d;
$color-body-link-hover: #ff2d2d;
$color-body-keyline: #bbb;

$color-header-bg: $color-grey-darkest;

// Sizes
$size-grid-unit: 16px;
$size-grid-unit-small: 8px;
$size-grid-unit-tiny: 4px;

// Fonts
$font-body: 'Raleway', sans-serif;
$font-heading: $font-body;
